<header class="jumbotron jumbotron-70 jumbotron-fluid text-center d-flex justify-content-center">
  <div class="container" style="margin-top: 3rem;">
    <h1 class="display-4">Traducción Instantánea de Lengua de Señas Venezolana</h1>
    <p class="lead">Una herramienta que convierte la lengua de señas venezolana en texto al instante, facilitando una comunicación fluida y efectiva.</p>
    <p>
      <a routerLink="/traductor" class="btn btn-success me-2">Empezar a traducir</a>
      <a href="#" class="btn btn btn-outline-success my-2">Más información</a>
    </p>
  </div>
</header>

<!-- Características del producto -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100 mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Traducción en tiempo real</h5>
            <p class="card-text text-muted">Convierte los gestos de la lengua de señas venezolana en texto escrito al instante</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Fácil de usar y accesible</h5>
            <p class="card-text text-muted">Funciona en cualquier dispositivo con cámara, permitiendo su uso simple y rápido sin necesidad de equipos especializados. </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Accesibilidad</h5>
            <p class="card-text text-muted">Diseñada para ser utilizada por personas con diferentes niveles de experiencia tecnológica y en múltiples dispositivos, garantizando que más usuarios puedan comunicarse fácilmente sin barreras.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

