<header>
  <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="light">
    <div class="bg-light p-4">
      <h5 class="text-body-emphasis h4">Acerca de</h5>
      <span class="text-body-secondary">Esta app, parte de la tesis "Traductor neuronal de lengua de señas venezolana a texto en tiempo real", convierte en tiempo real los gestos de la lengua de señas venezolana en texto escrito. Su objetivo es facilitar la comunicación y promover la inclusión de la comunidad sorda en Venezuela mediante técnicas avanzadas de redes neuronales.</span>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a routerLink="/" class="navbar-brand">SignaLSV</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="text-muted py-5 bg-light">
  <div class="container">
    <!-- <p class="float-right">
      <a href="#" class="btn btn-outline-secondary btn-sm">
        ↑
      </a>
    </p> -->
    <p>&copy; 2025 Albany Ramirez. Convenio LUZ-IUTA</p>
  </div>
</footer>
